TP2_CreateEmbedding_ChristopheFonsecaDiogo.json
{
  "name": "TP2_CreateEmbedding_ChristopheFonsecaDiogo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -112
      ],
      "id": "c7cdeacc-3d78-44e9-8a3e-bc9484f030f6",
      "name": "Execute workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -240,
        -112
      ],
      "id": "c486dbb3-6450-4324-be50-0835d92bfa31",
      "name": "Récupère les messages Outlook",
      "webhookId": "ea06e93c-d239-46a3-b6bf-78a93713db43",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1jTFr21XJm7DQkAv",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const j = item.json; \n \n  const messageId = j.id || ''; \n  const conversationId = j.conversationId || ''; \n  const sender = j.from || ''; \n  const subject = j.subject || ''; \n  const bodyText = j.bodyPreview || ''; \n  const recipients = Array.isArray(j.to) ? j.to.join(', ') : ''; \n  const hasAttachments = j.hasAttachments ?? false; \n \n  const textForEmbedding = \n    `search_document: Objet: ${subject}\\n` + \n    `Expéditeur: ${sender}\\n` + \n    `Destinataire(s): ${recipients}\\n` + \n    `Message:\\n${bodyText}`; \n \n  return { \n    json: { \n      message_id: messageId, \n      conversation_id: conversationId, \n      mailbox: 'etudiant@cpnv.me', \n      sender, \n      subject, \n      body_text: bodyText, \n      recipients, \n      has_attachments: hasAttachments, \n      text_for_embedding: textForEmbedding \n    } \n  }; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -112
      ],
      "id": "6258ba59-ee86-454b-a3f1-f5c7d6e29ec6",
      "name": "Crée un texte Condensé du mail"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "input",
              "value": " $json.text_for_embedding"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -336
      ],
      "id": "fb9f9027-c71a-4de5-99e5-08f741d38f85",
      "name": "Calcul de l'embedding"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        -112
      ],
      "id": "b4454c8d-bf21-4ea3-b9c6-a0f75a42da23",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const j = item.json; \n \n  const record = { \n    message_id: j.message_id, \n    conversation_id: j.conversation_id, \n    mailbox: j.mailbox, \n    sender: j.sender, \n    recipients: j.recipients, \n    subject: j.subject, \n    body_text: j.body_text, \n    has_attachments: j.has_attachments, \n    text_for_embedding: j.text_for_embedding, \n    embedding_model: j.model, \n    embedding: Array.isArray(j.embeddings) ? j.embeddings[0] : [], \n    created_at: new Date().toISOString() \n  }; \n \n  return { \n    json: { \n      line: JSON.stringify(record) \n    } \n  }; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -112
      ],
      "id": "95c2fe42-f7e9-45fa-a110-58c0097641ea",
      "name": "Transforme les données"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "embeddingsChristopheFonsecaDiogo.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        624,
        -112
      ],
      "id": "b77900fe-eec6-4eda-b865-a61c304b0b0d",
      "name": "Converti en un fichier"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/embeddingsChristopheFonsecaDiogo.json",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        832,
        -112
      ],
      "id": "dbdf9ca6-0fdb-4677-8ea2-4d62e91925ac",
      "name": "Ecrit sur le disque"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Récupère les messages Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupère les messages Outlook": {
      "main": [
        [
          {
            "node": "Crée un texte Condensé du mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crée un texte Condensé du mail": {
      "main": [
        [
          {
            "node": "Calcul de l'embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcul de l'embedding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transforme les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforme les données": {
      "main": [
        [
          {
            "node": "Converti en un fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converti en un fichier": {
      "main": [
        [
          {
            "node": "Ecrit sur le disque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f1f5a63b-979a-4e36-91c0-e335b9eeeecb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "O4VsD7cYjfyaK8KuUvr34",
  "tags": []
}